// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input {
  background: red;
}
h1 {
  font-size: 50px;
}

.question {
  font-family: Georgia;
  font-style: italic;
  background-color: white;
  width: 800px;
  border-left: 5px;
  border-color: black;
}

.answer {
  font-family: Georgia;
  font-style: italic;
  background-color: yellow;
  border-color: black;

  width: 800px;
}

.link {
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
}
